{% extends 'index.twig' %}
{% block head_css %}
<link rel="stylesheet" href="{{app.request.baseUrl}}/static/vendor/jquery-tagsinput/jquery.tagsinput.css"/>
<link rel="stylesheet" href="{{app.request.baseUrl}}/static/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{{app.request.baseUrl}}/static/vendor/jquery-autocomplete/jquery.autocomplete.css" />    
<link rel="stylesheet" href="{{app.request.baseUrl}}/static/css/style.css">
{% endblock %}
{% block content %}
{% raw %}
<div class='container' data-ng-controller="MainController">
  <div class="row">&nbsp;</div>
  <!-- header -->
  <div class="row">
    <div class="navbar navbar-static-top">
      <div class='navbar-inner'>
        <span 
        data-ng-include='baseUrl+"/static/js/app/partials/application-nav.html"'>
        <!-- application navigation --></span>
        <a class='brand' href='{{baseUrl}}/'>Mark.me</a>
      </div>
    </div>
  </div>
  <hr class='white'>
  <!-- flash messages -->
  {% endraw %}
  <div class="flash row">
    {% include 'common/flash-messages.twig' %}
  </div>
  {% raw %}
  <!-- body -->
  <div class="row ng-cloak" data-ng-cloak>
    <div class="alert alert-info" data-ng-show="alert.info">
      <button type="button" class="close" data-ng-click="alert.info=null">&times;</button>
      {{alert.info}}
    </div>
    <div class="alert alert-error" data-ng-show="alert.error">
      <button type="button" class="close"  data-ng-click="alert.error=null">&times;</button>
      {{alert.error}}
    </div>
  </div>
  <div class='row main' ng-view>
  </div>
  <hr class="white">
  <hr class="white">
  <!-- footer -->
  <div class="row" data-ng-include='baseUrl+"/static/js/app/partials/footer.html"'>
  </div>
  <div class="row">&nbsp;</div>
</div>
{% endraw %}
{% endblock %}
{% block bottom_scripts %}
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/json3.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/es5-shim.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/jquery.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/vendor/jquery-autocomplete/jquery.autocomplete.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/vendor/jquery-tagsinput/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/underscore.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/angular.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/app/modules/ApplicationDirectives.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/app/modules/ApplicationFilters.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/app/modules/ApplicationServices.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/app/modules/Application.js"></script>
{% endblock %}