{% extends 'layout.twig' %}
{% block head_css %}
<link rel="stylesheet" href="{{app.request.baseUrl}}/static/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{{app.request.baseUrl}}/static/css/style.css">
{% endblock %}
{% block content %}
{% raw %}
<!-- header -->
<div class='container' data-ng-controller="HomeController">
    <div class="row">&nbsp;</div>
    <!-- header -->
    <div class="row">
        <div class="navbar ">
            <div class='navbar-inner'>
                <span  
                    data-ng-include='baseUrl+"/static/js/app/partials/homepage-nav.html"'>
                    <!-- navigation --></span>
                <a class='brand' href='{{baseUrl}}/'>Mark.me</a>
            </div>

            <hr class='white'>
        </div>
    </div>
    <!-- body -->
    <div class="row " data-ng-include="baseUrl+'/static/js/app/partials/homepage.html'">
    </div>
    <hr class="white">
    <hr class="white">
    <!-- footer -->
    <div class="row" data-ng-include='baseUrl+"/static/js/app/partials/footer.html"'>
    </div>
    <div class="row">&nbsp;</div>
</div>
{% endraw %}
{% endblock %}
{% block bottom_scripts %}
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/json3.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/es5-shim.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/jquery.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/underscore.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/angular.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/app/modules/Application.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/app/modules/ApplicationFilters.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/app/modules/ApplicationDirectives.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/app/modules/ApplicationServices.js"></script>
{% endblock %}