{% extends 'layout.twig' %}
{% block head_css %}
<link rel="stylesheet" href="{{app.request.baseUrl}}/static/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{{app.request.baseUrl}}/static/css/style.css">
{% endblock %}
{% block content %}
<!-- header -->
<div class='container' data-ng-controller="HomeController">
    <div class="row">&nbsp;</div>
    <!-- header -->
    <div class="row" data-ng-include='baseUrl+"/static/js/app/partials/header.html"'>
    </div>
    <!-- body -->
    <div class="row " data-ng-include="baseUrl+'/static/js/app/partials/homepage.html'">
    </div>
    <hr class="white">
    <hr class="white">
    <hr class="white">
    <!-- footer -->
    <div class="row" data-ng-include='baseUrl+"/static/js/app/partials/footer.html"'>
    </div>
</div>
{% endblock %}
{% block bottom_scripts %}
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/jquery.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/underscore.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/angular.min.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/app/Controllers/HomeController.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/app/Controllers/LoginController.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/app/Controllers/RegisterController.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/app/Directives/ApplicationDirectives.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/app/Services/ApplicationServices.js"></script>
<script type="text/javascript" src="{{app.request.baseUrl}}/static/js/main.js"></script>
{% endblock %}